<footer class="mt-5">
  <nav class="navbar-expand fixed-bottom shadow">
    <div class="container">
      <ul class="navbar-nav d-flex flex-row justify-content-center">
        <li class="nav-item me-3"><span class="copyright">&copy; 2024 Simon Bernard</span></li>
        <li class="nav-item"><a class="nav-link" href="mailto:simon.bernard@univ-rouen.fr"><i class="fa-regular fa-envelope"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/smnbrnrd" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://scholar.google.com/citations?user=_8LanWkAAAAJ&hl=en" target="_blank"><i class="fa-brands fa-google-scholar"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://orcid.org/0000-0003-0200-4294" target="_blank"><i class="fa-brands fa-orcid"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/simon-bernard-0a741141/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.researchgate.net/profile/Simon-Bernard-3" target="_blank"><i class="fa-brands fa-researchgate"></i></a></li>
        <!--<li class="nav-item"><a class="nav-link" href="https://twitter.com/SmnBrnrd" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>-->
      </ul>
    </div>
  </nav>
</footer>
