<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Simon Bernard</h2>
      <h5>
        Associate Professor (Maître de Conférence) &#64; LITIS lab., University Rouen Normandy
      </h5>
      <hr>
      <figure id="profil" class="float-end">
        <img class="card-img-top" src="assets/images/profil_nb.jpg" alt="Simon Bernard, LITIS lab., Univ. Rouen Normandy">
      </figure>
      <p>
        I am an associate professor (Maître de Conférence) at the <a href="http://www.univ-rouen.fr/" target="_blank">University of Rouen Normandy</a>, and a member of the <em>Machine Learning</em> team of the <a href="http://www.litislab.eu/" target="_blank">LITIS</a> lab. (UR 4108). I am also a member of the <em>Data, Learning, Knowledge</em> group in the CNRS Research Federation <a href="http://www.normastic.fr/" target="_blank">NormaSTIC</a> (FR 3638).
      </p>
      <p>
        My research focuses on machine learning, and more specifically on ensemble learning and deep learning methods. In recent years, my work has focused mainly on multi-view/multimodal learning and outlier/anomaly detection. Recently, I've also taken a keen interest in machine learning for physics, with operator learning methods and/or physic-informed learning methods.
      </p>
      <p>
        I teach computer science and machine learning at the Faculty of <em>Science et Techniques</em> of the University of Rouen Normandy, to bachelor and master students. Today, I mostly teach machine learning and web programming to students of the <a href="http://mastersd.univ-rouen.fr/" target="_blank">Data Science master</a>'s program.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 d-flex flex-row flex-wrap gap-3 justify-content-start">
      <img class="logo" src="assets/images/logo_urn.png" alt="Univ. Rouen Normandy logo">
      <img class="logo" src="assets/images/logo_litis.png" alt="LITIS lab. logo">
      <img class="logo" src="assets/images/logo_normastic.png" alt="NormaSTIC logo">
    </div>
  </div>
  <hr class="mt-5">
  <div class="row mt-5">
    <div class="col-12">
      <h5>Other responsibilities:</h5>
      <ul>
        <li>2016 to present: Member of the LITIS lab. council</li>
        <li>2017 to present: Member of the Physics department council of the University of Rouen Normandy</li>
        <li>2023 to present: Member of the Steering Committee of the <a href="https://mastersd.univ-rouen.fr/normanthiia.php">NormanTHIIA</a> project (CMA France 2030)</li>
        <li>2024 to present: In charge of the second year of the <a href="https://mastersd.univ-rouen.fr/imes.php" target="_blank">Intelligent Mobile and Embedded Systems</a> track of the Data Science Master program at the University of Rouen Normandie</li>
        <li>2015-2024: In charge of the second year of the <a href="http://licenceeea.univ-rouen.fr/" target="_blank">Electronics, Electrical Energy and Automation</a> Licence program at the University of Rouen Normandy</li>
        <li>2021-2024: Member of the Research Committee and the Academic Council of the University of Rouen Normandy</li>
      </ul>
    </div>
  </div>
  <hr class="mt-5">
  <div class="row mt-5">
    <div class="col">
      <div class="container">
        <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center">
          <li class="nav-item"><a class="nav-link" href="mailto:simon.bernard@univ-rouen.fr"><i class="social-logo fa-regular fa-envelope"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/smnbrnrd" target="_blank"><i class="social-logo fa-brands fa-github"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://scholar.google.com/citations?user=_8LanWkAAAAJ&hl=en" target="_blank"><i class="social-logo fa-brands fa-google-scholar"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://orcid.org/0000-0003-0200-4294" target="_blank"><i class="social-logo fa-brands fa-orcid"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/simon-bernard-0a741141/" target="_blank"><i class="social-logo fa-brands fa-linkedin"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.researchgate.net/profile/Simon-Bernard-3" target="_blank"><i class="social-logo fa-brands fa-researchgate"></i></a></li>
          <!--<li class="nav-item"><a class="nav-link" href="https://twitter.com/SmnBrnrd" target="_blank"><i class="social-logo fa-brands fa-x-twitter"></i></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
