<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <h2>Teaching</h2>
      <p>
        Most of my teaching is done in the <a href="http://licenceeea.univ-rouen.fr/">Electronics, Electrical Energy and Automation (EEEA)</a> Licence (Bachelor) program and in the <a href="https://mastersd.univ-rouen.fr/">Data Science Master</a> program at the University of Rouen Normandy. I also give lectures on Machine Learning topics at <a href="https://www.insa-rouen.fr/">INSA Rouen Normandie</a> and <a href="https://esitech.univ-rouen.fr/">ESITech</a>
      </p>
    </div>
  </div>
  <hr>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Machine learning theory and algorithms</h4>
      <h5>Master "Data Science" - first year students</h5>
      <p>
        Fundamental theoretical concepts of machine learning in general, as well as the most emblematic generalist methods (linear regression, logistic regression, linear and kernel SVM, etc.).
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Web interface design</h4>
      <h5>Master "Data Science" - first year students</h5>
      <p>
        GUI layout design using web technologies: How to use HTML/CSS technologies to create web layouts for GUI, with an emphasis on modern responsive web design techniques.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Client-side web programming</h4>
      <h5>Master "Data Science" - first year students</h5>
      <p>
        Introduction to Javascript programming for implementing dynamic behaviour (e.g. user interaction) in Web documents. Focus on the use of the main JavaScript web APIs (DOM, Fetch, Event) and on the Angular framework.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Server-side web programming</h4>
      <h5>Master "Data Science" - second year students</h5>
      <p>
        Server-side web programming with Jakarta EE (formerly Java EE) technologies. Describe the various server programming techniques in a conceptual and technical manner, illustrated by concrete examples.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Random Forest and Boosting</h4>
      <h5>INSA "ITI department" - fourth year students</h5>
      <p>
        Introduction to Ensemble Learning and detailed explanations on Random Forest and (Gradient) Boosting techniques.
      </p>
    </div>
  </div>
</div>
