<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <h2>Research activities</h2>
      <p>
        This page brings together some of my research activities, through the PhD students I have (co)supervised and the funded research projects in which I am actively involved.
      </p>
    </div>
  </div><hr>
  <div class="row mb-5">
    <div class="col-12">
      <h3>Keywords</h3>
      <p>
        Machine learning, deep learning, random forest, ensemble learning, <br>
        Multi-view/multi-domain learning, anomaly/outlier detection, spatio-temporal data.
      </p>
    </div>
  </div>
  <hr>
  <div class="row mb-5">
    <div class="col-12">
      <h3>PhD Students</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/marwan-taia-169117162/">Marwan TAIA</a> (2024-Present) <br> <em>Deep Learning for anomaly detection in spatio-temporal data</em> (with Laurent HEUTTE)</li>
        <li><a href="https://www.linkedin.com/in/victor-schnepper-lacerda-65865554/">Victor Schnepper Lacerda</a> (2024-Present) <br> <em>Multimodal/multiview predictive models for emotion recognition</em> (with Laurent HEUTTE and Alceu BRITTO DE SOUZA JR)</li>
        <li><a href="https://www.linkedin.com/in/tsiry-mayet/">Tsiry MAYET</a> (2021-2025) <br> <em>Domains to domains translation: application to semantic segmentation</em> (with Clément CHATELAIN and Romain HÉRAULT)</li>
        <li><a href="https://www.linkedin.com/in/ferngonzalezp/">Fernando GONZALES</a> (2020-2023) <br> <em>On deep learning for computational fluid dynamics</em> (with François-Xavier DEMOULIN)</li>
        <li><a href="https://www.linkedin.com/in/miriam-benballa-2636b65b/">Miriam BENBALLA</a> (2018-2022) <br> <em>Recognising opinions and changes of opinion in a weakly supervised context</em> (with Alexandre PAUCHET et Romain PICOT-CLEMENTE)</li>
        <li><a href="https://www.linkedin.com/in/hongliu-cao-77777997/">Hongliu (Leo) CAO</a> (2016-2019) <br> <em>Random Forest for dissimilarity based multi-view learning :  pplication to radiomics</em> (with Laurent HEUTTE)</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row mb-5">
    <div class="col-12">
      <h3>Ongoing projects</h3>
      <app-project *ngFor="let item of projects" [project]=item></app-project>
    </div>
  </div>
</div>
